#superstar-side-panel-container {
    position: fixed;
    top: 10vh;
    bottom:10vh;
    right: 0;
    height:80vh;
    z-index: 9999;
    transition: width 0.3s ease-in-out;
  }
  
  #superstar-side-panel-container.open {
    width: 300px;
  }
  
  #superstar-side-panel-container.closed {
    width: 10px;
    height: 40px
  }
  
  .superstar-side-panel {
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
  }
  
  .superstar-toggle-button {
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    background-color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .superstar-panel-content {
    flex: 1;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100%;
  }
  
  /* Force Popup content to be scrollable */
  .superstar-panel-content > div,
  .superstar-panel-content .App {
    height: 96%;
    overflow-y: auto;
  }
  
  /* Ensure all content within is not restricting height */
  .superstar-panel-content * {
    max-height: none !important;
  }